/* general */

:root {
    --color1: #03254c;
    --color2: #2a9df4;
    --color3: #d0efff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* buttons */

.button {
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 15px;
    width: 15%;
    display: block;
}

.button:hover {
    background-color: var(--color2);
    cursor: pointer;
}

/* header */

header {
    justify-content: space-between;
    padding: 20px 40px;
}

#high-scores-link {
    color: var(--color2);
}

#high-scores-link:hover {
    color: var(--color1);
    cursor: pointer;
}

#timer {
    font-weight: bold;
}

/* initial body display */

main {
    justify-content: center;
}

#main-content {
    width: 100%;
}

.content-container {
    width:100%;
    text-align: center;
    justify-content: center;
}

.content-container h2 {
    font-size: 30px;
    width: 100%;
}

#initial-content p {
    width: 100%;
    line-height: 1.5;
}

#start-button {
    padding: 10px 50px;
    width: 10%;
}

#question-feedback {
    width: 40%;
    border-top: 1px solid var(--color2);
    margin-top: 20px;
    display:none;
}

/* answer section */

.answer-wrapper {
    padding: 10px;
    width: 100%;
    justify-content: center;
}

/* high score section */

.end-message {
    width: 100%;
}

.highscore-form {
    justify-content: center;
    width: 100%;
}

.highscore-form input {
    margin-left: 5px;
    margin-right: 10px;
}

.button-wrapper {
    width: 100%;
    justify-content: center;
}

.highScoreList {
    background-color: var(--color3);
    width: 20%;
}

.highScoreList li {
    font-weight: bold;
}

.button-wrapper span {
    margin: 10px;
}

/* Media queries */

@media (max-width: 768px) {

    .button {
        width: 25%;
    }

    .highScoreList {
        width: 60%;
    }
}

@media (max-width:575px){
    .button {
        width: 60%;
        margin-top: 10px;
    }

    li {
        font-size: 15px;
    }
}
    